@model ReservationCreateBindingModel

<form asp-controller="Reservation" asp-action="Create" method="post">
    <div class="d-flex align-items-center">
        <label class="font-weight-bold text-left mr-1" asp-for="StartDate">Start Date:</label>
        <div class="mr-1">
            <input class="form-control" type="date" asp-for="StartDate" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <label class="font-weight-bold text-left mr-1" asp-for="EndDate">End Date:</label>
        <div class="mr-1">
            <input class="form-control" type="date" asp-for="EndDate" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger">Request</button>
    </div>
    <input type="hidden" asp-for="CarId" />
</form>